{% extends "common/base.html" %}
{% load crispy_forms_tags %}
{% load static %}


{% block title %}
No Cost Quotas Report
{% endblock %}


{% block content %}
<h2>No Cost Quotas Report</h2>
<p>
    This report shows all No Cost Quota allotments.
</p>
<!--<div> <a href="?format=json" class="btn btn-primary mb-2 floats-right">Download JSON</a></div>-->
{% if form %}
  <div class="mb-3" id="accordion">
    <div class="card">
      <div class="card-header">
        <a id="expand_button" role="button" class="card-link " data-toggle="collapse" href="#collapseOne">
          <div>
          <i class="fas fa-filter" aria-hidden="true"></i> Filter
          <i id="plus_minus" class="fas {{expand_accordion|get_icon}} float-right"></i>
          </div>
        </a>
      </div>
      <div id="collapseOne" class="collapse {{expand_accordion}} {% if form.username.value %}show{% endif %}" data-parent="#accordion">
        <div class="card-body">
          <form id="filter_form" method="GET" autocomplete="off">
                {{ form.username|as_crispy_field }}
            <input type="submit" class="btn btn-primary" value="Search">
            <button id="form_reset_button" type="button" class="btn btn-secondary">Reset</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  <hr>
{% endif %}
    <div class="col-lg-12 mt-2">
    <h2>No Cost Quotas by Allocation</h2>
    <hr>

    {% if allocations %}
      <ul class="list-group">
        {% for allocation_allot_info in allocations %}
          <li class="list-group-item">
            {{ allocation_allot_info.allocation.project.pi.username }}: {{ allocation_allot_info.allocation.project.title }}: {{ allocation_allot_info.allocation.resources.first.name|default_if_none:"" }}: {{allocation_allot_info.allocation.get_information|default_if_none:allocation_allot_info.allocation.description|default_if_none:""}}
            <ul>
              {% for allotment in allocation_allot_info.allotments %}
                <li>{{ allotment.ncq_owner }}: {{ allotment.amount }}</li>
              {% endfor %}
            </ul>
          </li>
        {% endfor %}
      </ul>
    {% else %}
      <div class="alert alert-info" role="alert"><i class="fa fa-info-circle" aria-hidden="true"></i> There are no No Cost Quota allotments to display.</div>
    {% endif %}
  </div>

  {% if shared_allotments %}
    <div class="col-lg-12 mt-2">
      <h2>Shared No Cost Quotas</h2>
      <hr>
      <ul class="list-group">
        {% for shared_allotment in shared_allotments %}
          <li class="list-group-item">
            {{ shared_allotment.allocation.project.pi.username }}: {{ shared_allotment.allocation.project.title }}: {{ shared_allotment.allocation.resources.first.name|default_if_none:"" }}: {{shared_allotment.allocation.get_information|default_if_none:shared_allotment.allocation.description|default_if_none:""}}
            <ul>
              <li>{{ shared_allotment.ncq_owner }}: {{ shared_allotment.amount }}</li>
            </ul>
          </li>
        {% endfor %}
      </ul>
    </div>
  {% endif %}


{% endblock %}