{% extends "common/base.html" %}
{% load crispy_forms_tags %}
{% load static %}


{% block title %}
No Cost Quotas Report
{% endblock %}


{% block content %}
<h2>No Cost Quotas Report</h2>
<p>
    This report shows all No Cost Quota allotments.
</p>
<!--<div> <a href="?format=json" class="btn btn-primary mb-2 floats-right">Download JSON</a></div>-->

    <div class="col-lg-12 mt-2">
    <h2>No Cost Quotas by Allocation</h2>
    <hr>

    {% if allocations %}
      <ul class="list-group">
        {% for allocation_allot_info in allocations %}
          <li class="list-group-item">
            {{ allocation_allot_info.allocation.project.pi.username }}: {{ allocation_allot_info.allocation.project.title }}: {{ allocation_allot_info.allocation.resources.first.description|default_if_none:"" }}: {{allocation_allot_info.allocation.get_information|default_if_none:allocation_allot_info.allocation.description|default_if_none:""}}
            <ul>
              {% for allotment in allocation_allot_info.allotments %}
                <li>{{ allotment.ncq_owner }}: {{ allotment.amount }}</li>
              {% endfor %}
            </ul>
          </li>
        {% endfor %}
      </ul>
    {% else %}
      <div class="alert alert-info" role="alert"><i class="fa fa-info-circle" aria-hidden="true"></i> There are no No Cost Quota allotments to display.</div>
    {% endif %}
  </div>



{% endblock %}