{% extends "common/base.html" %}
{% load crispy_forms_tags %}
{% load static %}


{% block title %}
Starfish Report
{% endblock %}


{% block content %}
<h2>Storage Allocations vs. Starfish Top-level Directories Report</h2>
<p>
    This report shows the relationship between storage allocations in Coldfront and top-level directories in Starfish. 
    It identifies allocations that are missing a Starfish volume path attribute (sf_vol_path), allocations that have a Starfish 
    volume path attribute but do not exist in Starfish (likely deleted or archived), and top-level directories in Starfish that do not have a 
    corresponding allocation in Coldfront. An Allocation may need to be created in Coldfront for these directories if they are still in use.
</p>
<div> <a href="?format=csv" class="btn btn-primary mb-2 floats-right">Download CSV</a></div>
<div>

  <div class="col-lg-12 mt-2">
    <h2>Storage Allocations with No Starfish Attribute</h2>
    <hr>
    {% if missing_starfish_attribute %}
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Resource Allocation</th>
            <th scope="col">Project</th>
            <th scope="col">Status</th>
          </tr>
        </thead>
        <tbody>
          {% for allocation in missing_starfish_attribute %}
          <tr>
            <td>
              <a href="{% url 'allocation-detail' allocation.id %}" class="text-nowrap">{{allocation.get_parent_resource}}</a>
              {% if allocation.get_parent_resource.get_ondemand_status == 'Yes' and ondemand_url %}
              <a href = "{{ondemand_url}}" target="_blank"> {% load static %}  <img src="/static/core/portal/imgs/ondemand.png" alt="ondemand cta" width="25" height="25"></a>
              {% endif %}
              {% with allocation.get_information as allocation_information %}
              {% if allocation_information != '' %}
                <br>{{allocation_information}}
              {% else %}
                <br>{{allocation.description|default_if_none:""}}
              {% endif %}
              {% endwith %}
            </td>
            
            <td>{{allocation.project.title}}</td>
            <td> 
              {% include "allocation/detail/allocation_status.html" %}
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    {% else %}
      <div class="alert alert-info" role="alert">
        <i class="fa fa-info-circle" aria-hidden="true"></i> There are no allocations to display.
      </div>
    {% endif %}
  </div>

 <div class="col-lg-12 mt-2">
    <h2>Storage Allocations with No Match in Starfish</h2>
    <p>These are allocations that have a Starfish volume path attribute, but the volume path does not exist in Starfish. Could have been deleted.</p>
    <hr>

    {% if not_in_starfish %}
     <table class="table">
        <thead>
          <tr>
            <th scope="col">sf_vol_path</th>
            <th scope="col">Resource Allocation</th>
            <th scope="col">Project</th>
            <th scope="col">Status</th>

          </tr>
        </thead>
        <tbody>
          {% for allocation in not_in_starfish %}
          <tr>
            <td>
                {% for attr in allocation.allocationattribute_set.all %}
                    {% if attr.allocation_attribute_type.name == "sf_vol_path" %}
                    {{ attr.value }}
                    {% endif %}
                {% endfor %}
            </td>
            <td>
              <a href="{% url 'allocation-detail' allocation.id %}" class="text-nowrap">{{allocation.get_parent_resource}}</a>
              {% if allocation.get_parent_resource.get_ondemand_status == 'Yes' and ondemand_url %}
              <a href = "{{ondemand_url}}" target="_blank"> {% load static %}  <img src="/static/core/portal/imgs/ondemand.png" alt="ondemand cta" width="25" height="25"></a>
              {% endif %}
              {% with allocation.get_information as allocation_information %}
              {% if allocation_information != '' %}
                <br>{{allocation_information}}
              {% else %}
                <br>{{allocation.description|default_if_none:""}}
              {% endif %}
              {% endwith %}
            </td>
            
            <td>{{allocation.project.title}}</td>
            <td> 
              {% include "allocation/detail/allocation_status.html" %}
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    {% else %}
      <div class="alert alert-info" role="alert">
        <i class="fa fa-info-circle" aria-hidden="true"></i> There are no allocations to display.
      </div>
    {% endif %}
  </div>


    <div class="col-lg-12 mt-2">
    <h2>Storage found in Starfish with no Allocation in Coldfront</h2>
    <hr>

    {% if missing_from_coldfront %}
      <ul class="list-group">
        {% for vol_path in missing_from_coldfront %}
          <li class="list-group-item">
            {{ vol_path }}
          </li>
        {% endfor %}
      </ul>
    {% else %}
      <div class="alert alert-info" role="alert"><i class="fa fa-info-circle" aria-hidden="true"></i> There are no vol_paths to display.</div>
    {% endif %}


    <div class="col-lg-12 mt-2">
    <h2>Owner mismatch between Starfish and Coldfront</h2>
    <hr>

    {% if owner_mismatches %}
      <ul class="list-group">
        {% for vol_path, allocation, cf_owner, sf_owner in owner_mismatches %}
          <li class="list-group-item">
            {{ vol_path }} - Coldfront Owner: {{ cf_owner }}, Starfish Owner: {{ sf_owner }}
          </li>
        {% endfor %}
      </ul>
    {% else %}
      <div class="alert alert-info" role="alert"><i class="fa fa-info-circle" aria-hidden="true"></i> There are no owner mismatches to display.</div>
    {% endif %}


        <div class="col-lg-12 mt-2">
    <h2>Approver mismatch between Starfish and Coldfront</h2>
    <hr>

    {% if approver_mismatches %}
      <ul class="list-group">
        {% for vol_path, allocation, cf_approvers, sf_approvers in approver_mismatches %}
          <li class="list-group-item">
            {{ vol_path }} - Coldfront Approvers: {{ cf_approvers|join:", " }}, Starfish Approvers: {{ sf_approvers|join:", " }}
          </li>
        {% endfor %}
      </ul>
    {% else %}
      <div class="alert alert-info" role="alert"><i class="fa fa-info-circle" aria-hidden="true"></i> There are no approver mismatches to display.</div>
    {% endif %}

  </div>
  <!-- end row div -->
</div>
{% endblock %}
